.CardCollectionItemContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #141414;
  color: #fff;
  border: 1px solid #b89b00;
  border-radius: 16px;
  padding: 0;
  width: 300px;
  overflow: hidden;
  transition: all 0.2s;
}

.CardCollectionItemContainer:hover{
  transform: translateY(-2px);
  filter: brightness(1.1)
}

.CardCollectionItemContainer img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 0.8rem;
}

.CardCollectionItemName {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.CardCollectionItemDescription {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  color: #ccc;
  margin-bottom: 1rem;
  height: 80px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  margin: 10px 4px;
}

.CardCollectionItemAttributes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0.6rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 500;
  font-size: 0.95rem;
}

.CardCollectionItemAttributes span {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
}

.QuantityText {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #eee;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 4px 8px;
  border: #b89b00 solid 3px;
  border-radius: 9999px;
  z-index: 2;
  min-width:45px;
  text-align: center;  
}
