.pago-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0b0b0b;
  color: #fff;
  text-align: center;
}

.pago-procesando .spinner {
  border: 6px solid #222;
  border-top: 6px solid #00e676;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.pago-exitoso h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #00e676;
}

.pago-container button {
  background-color: #00e676;
  border: none;
  color: #000;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.pago-container button:hover {
  background-color: #00c853;
}
