.CollectionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
}

.CollectionContainer h1 {
  background-color: #E6C200;
  text-align: center;
  color: black;
  width: 100%;
  font-size: 4rem;
  padding: 2rem;
  margin: 0;
}

.CardsContainer {
  margin-top: 2rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  justify-items: center;
  gap: 2rem;
}

.ShopButton{
  margin-top: 2rem;
  color: black;
  background-color: #E6C200;
  border-radius: 8px;
  font-size: 1.5rem;
  font-style: normal ;
  font-weight: bolder;
  padding: 8px;
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;
}

.ShopButton:hover{
  color: black;
  transform: translateY(-2px);
  background-color: #fad921;
}

