img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 0
}

.StoreContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;   
}

.CardsStoreContainer {
  margin: 2rem 0 2rem 0;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: auto;
  justify-items: center;
  gap: 2rem;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  color: #fff;
  margin: 0 auto 0 auto;
  display: block;
}

.section-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  margin: 9px auto 0 auto;
  background-color: gold;
  border-radius: 2px;
}

.CartButton {
  margin-bottom: 7rem;
}

@media (max-width: 768px) {
  .CartButton {
    margin-bottom: 280px; /* espacio para que no se solape con el navbar fijo */
  }
}
