img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 0
}

.StoreContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem
}

.CardsStoreContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 3rem;
}