footer{
    margin-top: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    background: linear-gradient(to top, black .1%, #1a1a1a 99.9%);
    align-items: center;
}

footer p{
    margin-bottom: 0;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footerBrand, .footerBottom {
    color: #0033FF;
}
.footerBrand span{
    color: #ffcc00;
}

.footerSocial img{
    width: 50px;
    height: 50px;
}
.footerSocial img:hover{
    transform: scale(1.1);
}


@media (max-width: 768px) {
  footer {

    padding-bottom: 105px; /* espacio para que no se solape con el navbar fijo */
  }
}
