.carrito{
  padding: 5% 5%;
}

.panel-carrito{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    gap: 2rem;

}

@media (min-width: 900px) {
  .panel-carrito {
    grid-template-columns: 1fr 1fr; 
  }

  
}

.panel-formulario {
  padding: 5% 15%;
}


.carrito-total{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  gap: 1rem;
  align-items: center;
  display: flex;
  padding: 1rem;
  border: 1px solid #ffcc00;
  color: white;
  height: auto;
}

.carrito-total p{
    color: #ffcc00;
}