.CardCollectionItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #141414;
  color: #fff;
  border: 1px solid #b89b00;
  border-radius: 16px;
  padding: 0;
  width: 300px;
  overflow: hidden;
}

.CardCollectionItemContainer img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 0.8rem;
}

.CardCollectionItemName {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.CardCollectionItemDescription {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  color: #ccc;
  margin-bottom: 1rem;
  height: 80px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  margin: 10px 4px;
}

.CardCollectionItemAttributes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0.6rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 500;
  font-size: 0.95rem;
}

.CardCollectionItemAttributes span {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
}
