* {
  box-sizing: border-box;
}


.formulario{
    padding: 30px;
    background-color: #1a1a1a;
    border: 2px solid #ffcc00;
    border-radius: 20px;
    
}

.contenedor-titulo{
    background-color: #242424;
    border-radius: 10px;
    padding:1px;
    margin-bottom: 20px;

}

.titulo-formulario{
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    
    color: #ffcc00;
}



.contenedor-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.items{
    display: flex;
    flex-direction: column;

}

label, input{
    width: 100%;
}

label{
    color: #ffcc00;
}

input{
    color: white;
    background-color: #1a1a1a;
    border: 1.5px solid #fff;
    padding: 10px;
    font-size: 1rem;
}

.datos-tarjeta{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.expiracion input{
    width: 75%;
}

.cvv{
    display: flex;
    flex-direction: column;
    padding-left: 25%;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
}

.boton-pagar{
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;  
    min-width: 50%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.boton-pagar:hover{
    transform: scale(1.1);
    color: white;
    border: 1px solid #ffcc00;
    box-shadow: 
        0 0 10px #ffcc00, 
        0 0 20px #ffcc00; 
}